<templates xml:space="preserve">
    <t t-name="custom_funcional.Menu">
    <Dropdown position="'bottom-end'" menuClass="'p-2 pb-3'">
    <button class="fa fa-star" name="favorites"/>
    <t t-set-slot="content">
        <t t-if="this.existFavorites()">
        <div class="o_att_menu_container d-flex flex-column gap-4">
        <div class="d-flex flex-column gap-3">
            <ul class="list-unstyled">
            <t 
                t-foreach="this.state.favorites"
                t-as="favorite"
                t-key="favorite.favorite_id"
            >
                <HistoyMenuItem
                    favorite="favorite"
                    onToggleFavorite.bind="this.onToggleFavorite"
                    onDeleteFavorite.bind="this.onDeleteFavorite"                
            />
            </t>
            </ul>
        </div>
        </div>
        </t>
    </t>
    </Dropdown>
    </t>
</templates>